<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Post Your Number</title>
</head>

<body>
<form action="" method="post">
    ​<p>이름 : <input type="text" id="input" name="myname"></p>
    <p>이름을 입력하고 제출버튼을 누르세요. <input type="submit" value="제출"></p>
    <!--
    버튼을 클릭하면 post 메서드를 통해 /post url로 접근한다.
    이때 버튼 타입을 submit으로 변경해 값을 제출한다.
        - form에 action을 ""로 지정 - 동일한 URI로 정보 전달
        - input 입력 태그에 name을 지정해 정보를 전달받음 - 반드시 name 값을 지정해야 함.
        - submit은 form안에서 작성한 내용을 통째로 서버로 보내겠다는 뜻.
        - value는 버튼에 들어갈 값. 기본값은 "제출"
    -->
</form>
</body>
